
[V200R007C10SPC300]
#
 set memory-usage threshold 0
#
ssl renegotiation-rate 1 
#
vlan batch 200
#
authentication-profile name default_authen_profile
authentication-profile name dot1x_authen_profile
authentication-profile name mac_authen_profile
authentication-profile name portal_authen_profile
authentication-profile name macportal_authen_profile
#
diffserv domain default
#
radius-server template default
#
pki realm default
 rsa local-key-pair default
 enrollment self-signed
#
ike proposal default
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
free-rule-template name default_free_rule
#
portal-access-profile name portal_access_profile
#
aaa
 authentication-scheme default
 authentication-scheme radius
  authentication-mode radius
 authorization-scheme default
 accounting-scheme default
 domain default
  authentication-scheme radius
  radius-server default
 domain default_admin
  authentication-scheme default
 local-user admin password irreversible-cipher $1a$_P0.Tt0f[X$&#]LCp:Rd7kWzR>!RNR<3vNp'6,y}J7]L]UeGzQX$
 local-user admin privilege level 15
 local-user admin service-type http
#
interface Vlanif200
 ip address 192.168.200.9 255.255.255.0
 vrrp vrid 201 virtual-ip 192.168.200.10
 admin-vrrp vrid 201 
 vrrp vrid 201 preempt-mode timer delay 1200
#
interface GigabitEthernet0/0/1
 port link-type access
 port default vlan 200
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet0/0/3
#
interface GigabitEthernet0/0/4
#
interface GigabitEthernet0/0/5
#
interface GigabitEthernet0/0/6
#
interface GigabitEthernet0/0/7
 undo negotiation auto
 duplex half
#
interface GigabitEthernet0/0/8
 undo negotiation auto
 duplex half
#
interface NULL0
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
ssh server secure-algorithms cipher aes256_ctr aes128_ctr
ssh server key-exchange dh_group14_sha1
ssh client secure-algorithms cipher aes256_ctr aes128_ctr
ssh client secure-algorithms hmac sha2_256
ssh client key-exchange dh_group14_sha1
#
capwap source ip-address 192.168.200.10
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
 protocol inbound all
user-interface vty 16 20
 protocol inbound all
#
hsb-service 0
 service-ip-port local-ip 192.168.200.9 peer-ip 192.168.200.8 local-data-port 10241 peer-data-port 10241
#
hsb-group 0
 track vrrp vrid 201 interface Vlanif200
 bind-service 0
 hsb enable
#
hsb-service-type access-user hsb-group 0
#
hsb-service-type ap hsb-group 0
#
wlan
 traffic-profile name default
 security-profile name default
 security-profile name default-wds
 security-profile name default-mesh
 security-profile name security-profile-01
  security wpa2 psk pass-phrase %^%#_JlGSwJ0+BFt|\>%A3z(PfEqFM42v9.X7^L;6^~V%^%# aes
 ssid-profile name default
 ssid-profile name ap-ssid-01
  ssid gl_wlan
 vap-profile name vap01
  ssid-profile ap-ssid-01
  security-profile security-profile-01
 vap-profile name default
 wds-profile name default
 mesh-handover-profile name default
 mesh-profile name default
 regulatory-domain-profile name default
 regulatory-domain-profile name gl_regulatory-domain-profile
 air-scan-profile name default
 rrm-profile name default
 radio-2g-profile name default
 radio-5g-profile name default
 wids-spoof-profile name default
 wids-profile name default
 wireless-access-specification
 ap-system-profile name default
 port-link-profile name default
 wired-port-profile name default
 serial-profile name preset-enjoyor-toeap 
 ap-group name default
 ap-group name gl_ap-group-01
  regulatory-domain-profile gl_regulatory-domain-profile
  radio 0
   vap-profile vap01 wlan 1
  radio 1
   vap-profile vap01 wlan 1
 ap-id 1 type-id 69 ap-mac 00e0-fc35-3a60 ap-sn 2102354483101E1A6713
  ap-name ap01
  ap-group gl_ap-group-01
 ap-id 2 type-id 69 ap-mac 00e0-fca1-16b0 ap-sn 2102354483101F3F3B26
  ap-name ap02
  ap-group gl_ap-group-01
 ap-id 3 type-id 69 ap-mac 00e0-fccd-8080 ap-sn 2102354483106D27833E
  ap-name ap03
  ap-group gl_ap-group-01
 ap-id 4 type-id 69 ap-mac 00e0-fce7-0fd0 ap-sn 2102354483101931FF2D
  ap-name ap04
  ap-group gl_ap-group-01
 provision-ap
#
dot1x-access-profile name dot1x_access_profile
#
mac-access-profile name mac_access_profile
#
return