
[V200R003C00]
#
 sysname DHCPv6-Server
#
 board add 0/2 4GET 
 board add 0/4 4GET 
 board add 0/5 4GET 
 board add 0/6 4GET 
#
 snmp-agent local-engineid 800007DB03000000000000
 snmp-agent 
#
 clock timezone China-Standard-Time minus 08:00:00
#
portal local-server load portalpage.zip
#
 drop illegal-mac alarm
#
ipv6 
#
 set cpu-usage threshold 80 restore 75
#
dhcp enable
#
dhcpv6 pool ipv6vlan10
 address prefix 2001:192:168:10::/64
 excluded-address 2001:192:168:10::1 to 2001:192:168:10::10
 excluded-address 2001:192:168:10::FFFE to 2001:192:168:10::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan20
 address prefix 2001:192:168:20::/64
 excluded-address 2001:192:168:20::1 to 2001:192:168:20::10
 excluded-address 2001:192:168:20::FFFE to 2001:192:168:20::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan30
 address prefix 2001:192:168:30::/64
 excluded-address 2001:192:168:30::1 to 2001:192:168:30::10
 excluded-address 2001:192:168:30::FFFE to 2001:192:168:30::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan40
 address prefix 2001:192:168:40::/64
 excluded-address 2001:192:168:40::1 to 2001:192:168:40::10
 excluded-address 2001:192:168:40::FFFE to 2001:192:168:40::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan50
 address prefix 2001:192:168:50::/64
 excluded-address 2001:192:168:50::1 to 2001:192:168:50::10
 excluded-address 2001:192:168:50::FFFE to 2001:192:168:50::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan60
 address prefix 2001:192:168:60::/64
 excluded-address 2001:192:168:60::1 to 2001:192:168:60::10
 excluded-address 2001:192:168:60::FFFE to 2001:192:168:60::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan70
 address prefix 2001:192:168:70::/64
 excluded-address 2001:192:168:70::1 to 2001:192:168:70::10
 excluded-address 2001:192:168:70::FFFE to 2001:192:168:70::FFFF
 dns-server 3000::1
#
dhcpv6 pool ipv6vlan80
 address prefix 2001:192:168:80::/64
 excluded-address 2001:192:168:80::1 to 2001:192:168:80::10
 excluded-address 2001:192:168:80::FFFE to 2001:192:168:80::FFFF
 dns-server 3000::1
#
aaa 
 authentication-scheme default
 authorization-scheme default
 accounting-scheme default
 domain default 
 domain default_admin 
 local-user admin password cipher %$%$K8m.Nt84DZ}e#<0`8bmE3Uw}%$%$
 local-user admin service-type http
#
firewall zone Local
 priority 15
#
interface GigabitEthernet0/0/0
#
interface GigabitEthernet0/0/1
#
interface GigabitEthernet0/0/2
#
interface GigabitEthernet2/0/0
 ipv6 enable 
 ipv6 address 2001:192:168:201::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan10
#
interface GigabitEthernet2/0/1
 ipv6 enable 
 ipv6 address 2001:192:168:202::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan20
#
interface GigabitEthernet2/0/2
 ipv6 enable 
 ipv6 address 2001:192:168:203::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan30
#
interface GigabitEthernet2/0/3
 ipv6 enable 
 ipv6 address 2001:192:168:204::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan40
#
interface GigabitEthernet4/0/0
 ipv6 enable 
 ipv6 address 2001:192:168:205::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan50
#
interface GigabitEthernet4/0/1
 ipv6 enable 
 ipv6 address 2001:192:168:206::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan60
#
interface GigabitEthernet4/0/2
 ipv6 enable 
 ipv6 address 2001:192:168:207::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan70
#
interface GigabitEthernet4/0/3
 ipv6 enable 
 ipv6 address 2001:192:168:208::1/64 
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 dhcpv6 server ipv6vlan80
#
interface GigabitEthernet5/0/0
#
interface GigabitEthernet5/0/1
#
interface GigabitEthernet5/0/2
#
interface GigabitEthernet5/0/3
#
interface GigabitEthernet6/0/0
#
interface GigabitEthernet6/0/1
#
interface GigabitEthernet6/0/2
#
interface GigabitEthernet6/0/3
#
interface NULL0
#
ipv6 route-static 2001:192:168:10:: 64 2001:192:168:201::FFFF 
ipv6 route-static 2001:192:168:20:: 64 2001:192:168:202::FFFF 
ipv6 route-static 2001:192:168:30:: 64 2001:192:168:203::FFFF 
ipv6 route-static 2001:192:168:40:: 64 2001:192:168:204::FFFF 
ipv6 route-static 2001:192:168:50:: 64 2001:192:168:205::FFFF 
ipv6 route-static 2001:192:168:60:: 64 2001:192:168:206::FFFF 
ipv6 route-static 2001:192:168:70:: 64 2001:192:168:207::FFFF 
ipv6 route-static 2001:192:168:80:: 64 2001:192:168:208::FFFF 
#
user-interface con 0
 authentication-mode password
user-interface vty 0 4
user-interface vty 16 20
#
wlan ac
#
return