
!Software Version V500R005C10SPC300
!Last configuration was saved at 2026-05-28 07:16:12 UTC
#
sysname ZB-FW01
#
 l2tp domain suffix-separator @
#
undo info-center enable
#
 ipsec sha2 compatible enable 
#
undo telnet server enable
undo telnet ipv6 server enable
#
clock timezone UTC add 00:00:00
#
 hrp enable
 hrp interface GigabitEthernet1/0/6 remote 192.168.66.2
#
 update schedule location-sdb weekly Sun 05:34
#
 firewall defend action discard
#
 banner enable
#
 user-manage web-authentication security port 8887
 undo privacy-statement english
 undo privacy-statement chinese
page-setting
 user-manage security version tlsv1.1 tlsv1.2
password-policy
 level high
user-manage single-sign-on ad
user-manage single-sign-on tsm
user-manage single-sign-on radius
user-manage auto-sync online-user
#
 web-manager security version tlsv1.1 tlsv1.2
 web-manager enable
 web-manager security enable
#
firewall dataplane to manageplane application-apperceive default-action drop
#
 undo ips log merge enable
#
 decoding uri-cache disable
#
 update schedule ips-sdb daily 06:08
 update schedule av-sdb daily 06:08
 update schedule sa-sdb daily 06:08
 update schedule cnc daily 06:08
 update schedule file-reputation daily 06:08
#
ike local-name ZB-FW
#
ip vpn-instance default
 ipv4-family
#
bfd
#
ip address-set 100网段 type object
 description 总部互联
 address 0 192.168.100.0 mask 24
#
ip address-set 101网段 type object
 description DHCP互联
 address 0 192.168.101.0 mask 24
#
ip address-set 102网段 type object
 description 分部互联
 address 0 192.168.102.0 mask 24
#
ip address-set 103网段 type object
 description 总部核心与防火墙互联
 address 0 192.168.103.0 mask 24
#
ip address-set 104网段 type object
 description 分部核心01与分部防火墙互联
 address 0 192.168.104.0 mask 24
#
ip address-set 105网段 type object
 description 分部核心02与分部防火墙互联
 address 0 192.168.105.0 mask 24
#
ip address-set 106网段 type object
 description 总部服务器
 address 0 10.1.106.0 mask 24
#
ip address-set 10网段 type object
 description 192.168.10.0/24
 address 0 192.168.10.0 mask 24
#
ip address-set 200网段 type object
 description AC与wlan接入sta网段
 address 0 192.168.200.0 mask 24
#
ip address-set 20网段 type object
 description 192.168.20.0/24
 address 0 192.168.20.0 mask 24
#
ip address-set 30网段 type object
 description 192.168.30.0/24
 address 0 192.168.30.0 mask 24
#
ip address-set 40网段 type object
 description 192.168.40.0/24
 address 0 192.168.40.0 mask 24
#
ip address-set 50网段 type object
 description 192.168.50.0/24
 address 0 192.168.50.0 mask 24
#
ip address-set 90网段 type object
 description 192.168.90.0/24
 address 0 192.168.90.0 mask 24
#
ip address-set 分部GRE地址 type object
 description 172.16.0.2
 address 0 172.16.0.2 mask 32
#
ip address-set 分部出口 type object
 description 分部出口地址
 address 0 202.113.111.18 mask 32
#
ip address-set 分部管理地址 type object
 description 分部管理地址
 address 0 7.7.7.7 mask 32
 address 1 8.8.8.8 mask 32
 address 2 11.11.11.11 mask 32
#
ip address-set 内网DNS服务 type object
 description 10.1.106.200
 address 0 10.1.106.200 mask 32
#
ip address-set 内网HTTP服务 type object
 description 10.1.106.100
 address 0 10.1.106.100 mask 32
#
ip address-set 总部GRE地址 type object
 description 172.16.0.1
 address 0 172.16.0.1 mask 32
#
ip address-set 总部出口 type object
 description 总部出口地址池
 address 0 202.113.110.18 mask 32
 address 1 202.113.110.19 mask 32
 address 2 202.113.110.20 mask 32
 address 3 202.113.110.21 mask 32
 address 4 202.113.110.22 mask 32
#
ip address-set 总部管理地址 type object
 description 总部管理地址
 address 0 1.1.1.1 mask 32
 address 1 2.2.2.2 mask 32
 address 2 3.3.3.3 mask 32
 address 3 4.4.4.4 mask 32
 address 4 5.5.5.5 mask 32
 address 5 6.6.6.6 mask 32
 address 6 9.9.9.9 mask 32
 address 7 10.10.10.10 mask 32
 address 8 12.12.12.12 mask 32
#
ip address-set 60网段 type object
 description 192.168.60.0/24
 address 0 192.168.60.0 mask 24
#
ip address-set 70网段 type object
 description 192.168.70.0/24
 address 0 192.168.70.0 mask 24
#
ip address-set 80网段 type object
 description 192.168.80.0/24
 address 0 192.168.80.0 mask 24
#
 time-range worktime
  period-range 08:00:00 to 18:00:00 working-day   
#
acl number 3001
 description ==GRE over IPsev==
 rule 5 permit ip source 10.255.255.1 0 destination 10.255.255.2 0 
 rule 10 permit ip source 202.113.110.20 0 destination 202.113.111.18 0 
#
ipsec proposal FB-FW
 esp authentication-algorithm sha2-256 
 esp encryption-algorithm aes-256 
#
ike proposal default
 encryption-algorithm aes-256 aes-192 aes-128 
 dh group14 
 authentication-algorithm sha2-512 sha2-384 sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
ike proposal 1
 encryption-algorithm aes-256 
 dh group14 
 authentication-algorithm sha2-256 
 authentication-method pre-share
 integrity-algorithm hmac-sha2-256 
 prf hmac-sha2-256 
#
ike peer FB-FW
 pre-shared-key %^%#;wqD&L<@sDZ=^w4zbBg2UF"I@qar7OR}]MI4#E_#%^%#
 ike-proposal 1
 local-id ZB-FW
 remote-address 202.113.111.18 
#
ipsec policy FB-FW 1 isakmp
 security acl 3001
 ike-peer FB-FW
 proposal FB-FW
 tunnel local applied-interface
 sa trigger-mode auto
#
aaa
 authentication-scheme default
 authentication-scheme admin_local
 authentication-scheme admin_radius_local
 authentication-scheme admin_hwtacacs_local
 authentication-scheme admin_ad_local
 authentication-scheme admin_ldap_local
 authentication-scheme admin_radius
 authentication-scheme admin_hwtacacs
 authentication-scheme admin_ad
 authorization-scheme default
 accounting-scheme default
 domain default
  service-type internetaccess ssl-vpn l2tp ike
  internet-access mode password
  reference user current-domain
 manager-user audit-admin 
  password cipher @%@%[`)j0:y6$,2`|-TD)pAL*&b-6Mb2K=}B{GKbLj&I>][&&b0*@%@%
  service-type web terminal 
  level 15 

 manager-user api-admin 
  password cipher @%@%u\_<O%q0"1)<#U,Z/RK*ff:=pInkIpQ0.()gzx$JX8iDf:@f@%@%
  level 15 

 manager-user admin 
  password cipher @%@%O@z)H=FhG<Q>ZH$Eu:;'[HV`rU(g3[UNs+M%H]Tar!uMHVc[@%@%
  service-type web terminal 
  level 15 

 role system-admin
 role device-admin
 role device-admin(monitor)
 role audit-admin
 bind manager-user audit-admin role audit-admin
 bind manager-user admin role system-admin
#
ospfv3 1
 router-id 9.9.9.9
#
l2tp-group default-lns
#
interface GigabitEthernet0/0/0
 undo shutdown
 ip binding vpn-instance default
 ip address 172.16.1.1 255.255.255.0
 ospf timer hello 4
 alias GE0/METH
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
#
interface GigabitEthernet1/0/0
 undo shutdown
 ipv6 enable
 ip address 192.168.103.1 255.255.255.0
 ipv6 address 2001:192:168:103::1/64
 undo ipv6 nd ra halt
 ipv6 nd autoconfig managed-address-flag
 ipv6 nd autoconfig other-flag
 ospfv3 1 area 0.0.0.0
 vrrp vrid 103 virtual-ip 192.168.103.5 active
 ospf timer hello 4
 service-manage ping permit
#
interface GigabitEthernet1/0/1
 undo shutdown
 ip address 202.113.110.18 255.255.255.248
 vrrp vrid 110 virtual-ip 202.113.110.20 active
 service-manage http permit
 service-manage https permit
 service-manage ping permit
 service-manage ssh permit
 service-manage snmp permit
 service-manage telnet permit
 ipsec policy FB-FW
#
interface GigabitEthernet1/0/2
 undo shutdown
#
interface GigabitEthernet1/0/3
 undo shutdown
#
interface GigabitEthernet1/0/4
 undo shutdown
#
interface GigabitEthernet1/0/5
 undo shutdown
#
interface GigabitEthernet1/0/6
 undo shutdown
 ip address 192.168.66.1 255.255.255.0
 ospf timer hello 4
 service-manage ping permit
#
interface Virtual-if0
#
interface NULL0
#
interface LoopBack0
 ip address 9.9.9.9 255.255.255.255
#
interface LoopBack1
 ip address 10.255.255.1 255.255.255.255
#
interface Tunnel0
 ipv6 enable
 ipv6 address 2002:A01:B16::22/64
 ospfv3 1 area 0.0.0.0
#
interface Tunnel1
 ip address 172.16.0.1 255.255.255.0
 tunnel-protocol gre
 keepalive period 3 
 source 10.255.255.1
 destination 10.255.255.2
#
firewall zone local
 set priority 100
#
firewall zone trust
 set priority 85
 add interface GigabitEthernet0/0/0
 add interface GigabitEthernet1/0/0
 add interface GigabitEthernet1/0/6
 add interface Tunnel1
#
firewall zone untrust
 set priority 5
 add interface GigabitEthernet1/0/1
#
firewall zone dmz
 set priority 50
#
ospf 1 router-id 9.9.9.9
 default-route-advertise
 bfd all-interfaces enable
 area 0.0.0.0
  authentication-mode simple plain 123456
  network 9.9.9.9 0.0.0.0
  network 172.16.0.0 0.0.0.255
  network 172.16.1.0 0.0.0.255
  network 192.168.66.0 0.0.0.255
  network 192.168.103.0 0.0.0.255
#
ip route-static 0.0.0.0 0.0.0.0 GigabitEthernet1/0/1 202.113.110.17
#
undo ssh server compatible-ssh1x enable
ssh authentication-type default password
ssh server cipher aes256_ctr aes128_ctr
ssh server hmac sha2_256 sha1
ssh client cipher aes256_ctr aes128_ctr
ssh client hmac sha2_256 sha1
#
firewall detect ftp
#
 nat server HTTP-NAT-Server protocol tcp global 202.113.110.22 8080 inside 10.1.106.100 www no-reverse unr-route
#
user-interface con 0
 authentication-mode aaa
user-interface vty 0 4
 authentication-mode aaa
 protocol inbound ssh
user-interface vty 16 20
#
pki realm default
#
sa
#
location
#
nat address-group 访问公网地址池 0
 mode pat
 section 0 202.113.110.18 202.113.110.18
 section 1 202.113.110.19 202.113.110.19
 section 2 202.113.110.20 202.113.110.20
 section 3 202.113.110.21 202.113.110.21
#
multi-linkif
 mode proportion-of-weight
#
right-manager server-group
#
device-classification
 device-group pc
 device-group mobile-terminal
 device-group undefined-group
#
user-manage server-sync tsm
#
security-policy
 rule name "IPsec总部 通往分部"
  description IPsec总部 通往分部
  source-address 10.255.255.1 mask 255.255.255.255
  source-address 172.16.0.1 mask 255.255.255.255
  source-address 202.113.110.20 mask 255.255.255.255
  destination-address 10.255.255.2 mask 255.255.255.255
  destination-address 172.16.0.2 mask 255.255.255.255
  destination-address 202.113.111.18 mask 255.255.255.255
  action permit
 rule name IPsec分部通往总部
  description IPsec分部通往总部
  source-address 10.255.255.1 mask 255.255.255.255
  source-address 172.16.0.1 mask 255.255.255.255
  source-address 202.113.111.18 mask 255.255.255.255
  destination-address 10.255.255.2 mask 255.255.255.255
  destination-address 172.16.0.2 mask 255.255.255.255
  destination-address 202.113.110.20 mask 255.255.255.255
  action permit
 rule name 除业务网段无法访问公网
  description 100、101、102、103、104、105、200与管理地址
  destination-zone untrust
  source-address address-set 100网段
  source-address address-set 101网段
  source-address address-set 102网段
  source-address address-set 103网段
  source-address address-set 104网段
  source-address address-set 105网段
  source-address address-set 200网段
  source-address address-set 分部管理地址
  source-address address-set 总部管理地址
  action permit
 rule name 公网无法访问除业务网段
  description 100、101、102、103、104、105、200与管理地址
  source-zone untrust
  destination-address address-set 100网段
  destination-address address-set 101网段
  destination-address address-set 102网段
  destination-address address-set 103网段
  destination-address address-set 104网段
  destination-address address-set 105网段
  destination-address address-set 200网段
  destination-address address-set 分部管理地址
  destination-address address-set 总部管理地址
  action permit
 rule name 总部服务器可以访问分部与公网
  description 总部服务器可以访问分部与公网
  source-address address-set 内网DNS服务
  source-address address-set 内网HTTP服务
  action permit
 rule name 分部与公网可以访问总部服务器
  description 分部与公网可以访问总部服务器
  destination-address address-set 内网DNS服务
  destination-address address-set 内网HTTP服务
  action permit
 rule name 10网段上网
  description 192.168.10.0访问any
  source-zone trust
  source-address address-set 10网段
  action permit
 rule name 20网段上网
  description 192.168.20.0访问any
  source-zone trust
  source-address address-set 20网段
  action permit
 rule name 30网段上网
  description 192.168.30.0访问any
  source-zone trust
  source-address address-set 30网段
  action permit
 rule name 40网段上网
  description 192.168.40.0访问any
  source-zone trust
  source-address address-set 40网段
  action permit
 rule name 50网段上网
  description 192.168.50.0访问any
  source-zone trust
  source-address address-set 50网段
  action permit
 rule name 60网段上网
  description 192.168.60.0访问any
  source-zone trust
  source-address address-set 60网段
  action permit
 rule name 70网段上网
  description 192.168.70.0/24
  source-zone trust
  source-address address-set 70网段
  action permit
 rule name 80网段上网
  description 192.168.80.0访问any
  source-zone trust
  source-address address-set 80网段
  action permit
 rule name 10-80回程
  description 10-80回程
  destination-zone trust
  destination-address address-set 10网段
  destination-address address-set 20网段
  destination-address address-set 30网段
  destination-address address-set 40网段
  destination-address address-set 50网段
  destination-address address-set 60网段
  destination-address address-set 70网段
  destination-address address-set 80网段
  action permit
 rule name 90网段访问总部
  description 192.168.90.0访问总部
  destination-zone trust
  destination-address address-set 90网段
  action permit
 rule name 总部回访90网段
  description 总部回访90网段
  source-zone trust
  destination-address address-set 90网段
  action permit
#
auth-policy
#
traffic-policy
#
policy-based-route
#
nat-policy
 rule name 内网访问公网NAT
  description 内网访问公网NAT转化
  source-zone trust
  destination-zone untrust
  action source-nat address-group 访问公网地址池
#
quota-policy
#
pcp-policy
#
dns-transparent-policy
#
rightm-policy
#
return  